<li class="macaroon__item" >

<img src="assets/img/macaroons/{{mac.img}}.png" alt="Макарун с малиной" class="macaroon__img-image">
<div class="" >
    <div class="macaroon__name" >{{mac.name}}</div>

</div>
<div class="macaroon__order">
    <div class="macaroon__quantity">{{mac.quantity}}</div>
    <div class="macaroon__price" >{{mac.price | currency:'RUB':'руб.':"1.2-2"}}</div>
    <div class="macaroon__action">
        <button class="btn macaroon__btn " 
    
        (click)="addProductOrder()" >Заказать</button>
    </div>                    
</div>
</li>
<!-- 
appButton
[coollDefaultBgColor]="'white'"
[coollMauseBgColor]="'orange'" -->