<header class="header">
  <div class="header__container container"> 
      <a class="logo">
          MACAROONS
      </a>
      <div class="burger" id="burger">
          <span></span>
      </div>
      <nav class="menu" id="menu">
          <div class="close">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                  <g>
                      <g>
                          <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                      </g>
                  </g>
                  </svg>
          </div>
          <ul class="menu__items">
              <li class="menu__item">
                  <a href="#macaroons" class="menu__link">Пироженки</a>
              </li>
              <li class="menu__item">
                  <a href="#description" class="menu__link">О нас</a>
              </li>
              <li class="menu__item">
                  <a href="#order" class="menu__link">Оформить заказ</a>
              </li>
          </ul>
      </nav>
      <a href="tel:{{tel}}" class="phone">{{tel|tel}}</a>
      
  </div>
</header>

<section class="main"> 
  <div class="main__container container">
      <div class="main__content">
          <h1 class="main__title">Мягкие французкие пироженки Macaroons</h1>
          <div class="main__text">Побалуй себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroons!</div>
          <div class="main__action">
              <button class="btn main__btn" (click)="scrollTo(macss)">Выбрать макарун</button>
          </div>
      </div>
      <div class="main-img">
          <div class="main__img">
              <img src="assets/img/main/01.png" alt="Macaroons" class="main__img-image">
          </div>
      </div>
  </div>
</section>
<section class="description" id="description">
  <div class="description__container container">
      <div class="description__content">
      <h2 class="description__title">Мы печем для вас вкуснейшие макаруны уже более 10 лет</h2>
      <div class="description__text">Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и улучшителей муки</div>
  </div>
      <div class="description__img">
          <img src="assets/img/description/macaroon.png" alt="macaroon" class="description__img-image">
      </div>
  </div>
</section>
<app-advantages></app-advantages>
<section class="macaroons" id="macaroons" #macss>
  <div class="macaroons__container container">
      <h2 class="macaroons__title">Выберите свой макарун</h2>
      <ul class="macaroons__items">
        <app-products *ngFor="let mac of this.productService.getProduct()" [mac]='mac' (addProductEvent)="scrolOrder($event,oder)"></app-products>
        
      </ul>
  </div>  
</section>
<section class="order" id="order" #oder>
  <div class="order__container container">
      <div class="order__body">
          <div class="order__img">
              <div class="order__decoration_srrawberry-1">
                  <img src="assets/img/order/decor-1.png" alt="decoration_srrawberry-1">
              </div>
              <div class="order__decoration_srrawberry-2">
                  <img src="assets/img/order/decor-2.png" alt="decoration_srrawberry-2">
              </div>
              <img src="assets/img/order/macaron_PNG56.png" alt="macaron" class="order__img-image">
          </div>
          <div class="order__content">
              <h2 class="order__title">Закажите макарун!</h2>
              <div class="order__text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!</div>
              <span class="order__span-text">Ваш выбор</span>
              <form action="">
              <div class="order__form-choice">
                      <input [(ngModel)]="formVal.names" type="text" name="mac" class="base-input order__base-input" placeholder="Напишите, что хотите заказать...">
              </div>
              <span class="order__span-text">Заполните данные для заказа</span>
              <div class="order__inform">
                      <input type="text" class="base-input order__base-input" placeholder="Ваше имя">
                      <input type="text" class="base-input order__base-input" placeholder="+375(__)___-__-__">
              </div>
              <div class="order__action">
                      <button class="btn order__btn">Оформить заказ</button>
              </div> 
          </form>   
          </div>
      </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__container container">
      <a class="logo">
          MACAROONS
      </a>
      <a href="" class="footer__insta">
          <img src="assets/img/footer/insta.png" alt="insta" class="footer__insta-image">
      </a>
      <a href="tel:{{tel}}" class="phone">{{tel|tel}}</a>
      <span class="footer__rights">Все права защищены, 2020</span>
      <a href={{inst}} class="footer_text-insta">Мы в Instagram</a>
  </div>
</footer>
<div class="present" [style.display]="isBlock?'block':'none'">
  <div class="present__content">
      <div class="present__dropdown">
          <div class="present__dropdown-text">{{this.summProductsService.amountProduct}}шт / {{this.summProductsService.summPrice}} руб.</div>    
      </div>
      <div class="present__img">
      <img src="assets/img/cart.png" width="45" height="45" alt="present" class="present__img-image">
      </div>
  </div>
</div>